@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Spectral:400,400i,700,700i);

* {
	padding: 0; 
	margin: 0;
}
			
body {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 16px; /*1em = 16px*/
	color: #1c2625;
}

section, footer {
	padding: 4em;
/*	padding-top: ;
	padding-right: ;
	padding-bottom: ;
	padding-left: ;*/
}

header {
	margin-bottom: 3em;
}

nav {
	background-color: #1f4058;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
/*	word-spacing: 4.15em;*/
	padding: 1.5em;
	margin-bottom: 3em;
}

a.navLink {
	color: #ffffff;
	padding: 0 4em;
/*	margin: 1em;*/
}

header {
	text-align: center;
}

section#portfolio {
	background-color: #cae3ee;
}

section#about {
	background-color: #a8d0e5;
}

section#contact {
	background-color: #76b1d0;
}

/*div.sectionDescription {
	width: 30em; 
}
*/
h1 {
	font-size: 10em;
	font-weight: bold;
	line-height: 1;
	letter-spacing: -0.05em;
	margin-bottom: 0.15em;
}

h2 {
	font-size: 3em;
	text-transform: uppercase;
	line-height: 1;
}

h3 {
	font-size: 2.5em;
	font-weight: 100;
	color: #175676;
	line-height: 1;
	width: 10em;
	margin-top: 1;
}

h3#subHeadline {
	font-family: 'Spectral', serif;
	letter-spacing: -0.05em;
	width: auto;
}

p, ul {
	font-family: 'Spectral', serif;
	font-size: 1.25em;
	letter-spacing: -0.03em;
	line-height: 1.25;
	width: 20em;
	margin-top: 0.5em;
	margin-bottom: 0.5em
}

a {
	color: #175676;
	text-decoration: none;
}

img {
	width: 30em;
}

ul {
	text-indent: 0.25em;
	padding-left: 3em;
}

span.o {
	color: #175676;
}

/*span.verticalLine {
	font-size: 1em;
	font-weight: 700; 
	color: #FFDBAF;
}*/